/*---------------------------GLOBAL----------------------*/    
/* Main colors*/
/*all visible site section h2 decoration*/
/*all list decoration*/
/*---------------------------ONTAINER----------------------*/
/*---------------------------/GLOBAL----------------------*/
/*-----------------------backdrope----------------------*/
/* ----------------------FORM-------------------------- */
/* ---------------------/FORM-------------------------- */
/*----------------------/backdrope----------------------*/
/*---------------------------HEADER----------------------*/
/*-----------Logo------------*/
/*---------------------------/HEADER----------------------*/
/*---------------------------MAIN----------------------*/
/*---------------------------HERO----------------------*/
/*---------------------------/HERO----------------------*/
/*principles*/
/*-------------------------specialization------------------------*/
/*------
/*------------------------team------------------------------------*/
/*------------------------/team------------------------------------*/
/*------------------------clients------------------------------------*/
/*------------------------/clients------------------------------------*/
/*-------------------------PORTFOLIO.HTML------------------------*/
/*-------------------------portfolio-filter----------------------*/
.portfolio-title{
   
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden;   
} 

.portfolio-filtr {
    display: flex;

    margin: 0px;
    padding: 0px;

    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-button {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: var(--blacknav);
    background: var(--dbgcolorgray);
    letter-spacing: 0.03em;

    display: block;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    border: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item:not(:last-child){
    
    margin-right: 8px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--brandwhite);
    background: var(--brandblue);
}
/*-------------------------/portfolio-filter----------------------*/
/*-------------------------portfolio-cards------------------------*/
.portfolio-cards{
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
   
    margin-left: calc(-1 * var(--portfolio-gap));
    margin-top: calc(-1 * var(--portfolio-gap));
}

.cards-img{
    display: block;
    
    max-width: 100%;
    height: auto;
}

.portfolio-cards > .portfolio-items{
   flex-basis: calc(100% / 3 - var(--portfolio-gap));
   margin-left: var(--portfolio-gap);
   margin-top: var(--portfolio-gap);

   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover, 
.portfolio-items:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-border{

    border: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}

.card-h{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
    letter-spacing: 0.06em;
    
    padding: 0px;
    margin:0px;
   
    margin-bottom: 4px; 
}


.card-desk{
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;

    padding: 0px;
    margin: 0px;
}

.portfolio-thumb{
    display: block;

    position: relative;
    overflow: hidden;
}

.thumb-text{
   
    display: block;
    position:absolute;

    margin: 0px;
    padding: 0px;

    color: var(--brandwhite);
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 23px;
    
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    overflow: auto; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb:hover .thumb-text{
    transform: translateY(-100%);
}
/*-------------------------PORTFOLIO.HTML------------------------*/
/*---------------------------/MAIN----------------------*/
/*---------------------------FOOTER----------------------*/
/*sitefooter*/
/*footer logo*/
/*footer adress*/
/*footer links*/
/*---------------------------/FOOTER----------------------*/
