.clients{

   &-list{
       display: flex;
       justify-content: center;
       align-items: center;

       margin: 0px;
       padding: 0px;
    }

    &-card:not(:last-child){
       margin-right: 30px;
    }

    &-nav{
        display: flex;
        width: 170px;
        height: 92px;
        border-radius: 4px;
        
        color: var(--iconfill);
        border: 1px solid var(--iconfill);
    
        justify-content: center;
        align-items: center;
    
        transition: color $transitoin-property,
        border-color $transitoin-property;

        &:hover, &:focus{
            color: $brandblue;
            border-color: $brandblue;
        }
    }
    
    &-icon{
        fill: currentColor; 
    }

}